<div class="offer-filter">
  <form #filterForm="ngForm" (ngSubmit)="onFiltersSubmit()">

    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutAlign="center center">
      <mat-input-container>
        <input matInput
               [(ngModel)]="filters.position"
               type="text"
               name="position"
               placeholder="Stanowisko">
        <mat-icon *ngIf="filters.position" matSuffix style="cursor: pointer;" (click)="clearFilter('position')">close</mat-icon>
      </mat-input-container>

      <mat-input-container>
        <input matInput
               [(ngModel)]="filters.company"
               type="text"
               name="company"
               placeholder="Firma">
        <mat-icon *ngIf="filters.company" matSuffix style="cursor: pointer;" (click)="clearFilter('company')">close</mat-icon>
      </mat-input-container>

      <mat-input-container>
        <input matInput
               [(ngModel)]="filters.location"
               type="text"
               name="location"
               placeholder="Lokalizacja">
        <mat-icon *ngIf="filters.location" matSuffix style="cursor: pointer;" (click)="clearFilter('location')">close</mat-icon>
      </mat-input-container>

      <button color="primary"
              type="submit"
              mat-raised-button>
        Szukaj
      </button>

      <mat-slide-toggle color="primary" [checked]="true" (change)="onSortDirChange($event)">
        Sortuj po dacie malejąco
      </mat-slide-toggle>
    </div>

  </form>
</div>
