<div fxLayoutAlign="center center">

  <div *ngIf="showForm" fxLayout="column" fxFlex.gt-sm="80" fxFlex="100" style="margin-top: 10px;">
    <!--<app-category-form [category]="paramToEdit"-->
    <!--[mode]="mode"-->
    <!--(submitEvent)="onSubmit($event)"-->
    <!--(cancel)="onCancelAdd()"></app-category-form>-->
  </div>

  <div *ngIf="!showForm" fxLayout="column" fxFlex.gt-sm="80" fxFlex="100" style="margin-top: 10px;">

    <button mat-raised-button aria-label="Dodaj nowego użytkownika" color="primary" (click)="onAddNewClick()">
      <mat-icon>add</mat-icon>
      Dodaj nowego użytkownika
    </button>

    <app-basic-filter style="margin-top: 20px;"
                      [placeholder]="'Login, email, rola'"
                      (filterEvent)="filterChange($event)">

    </app-basic-filter>

    <table>
      <thead>
        <th>#</th>
        <th>
          <app-sort-arrow [name]="'login'" [pageRequest]="pageRequest" (sortChange)="sortChange()">
            Login
          </app-sort-arrow>
        </th>
        <th>
          <app-sort-arrow [name]="'email'" [pageRequest]="pageRequest" (sortChange)="sortChange()">
            Email
          </app-sort-arrow>
        </th>
        <th>
          <app-sort-arrow [name]="'authority'" [pageRequest]="pageRequest" (sortChange)="sortChange()">
            Rola
          </app-sort-arrow>
        </th>
        <th>
          <app-sort-arrow [name]="'createDate'" [pageRequest]="pageRequest" (sortChange)="sortChange()">
            Utworzono
          </app-sort-arrow>
        </th>
        <th>
          <app-sort-arrow [name]="'active'" [pageRequest]="pageRequest" (sortChange)="sortChange()">
            Aktywny
          </app-sort-arrow>
        </th>
        <th>Akcje</th>
      </thead>

      <tbody *ngIf="!loading">

      <tr *ngFor="let user of params?.docs; let i = index">
        <td>{{i + 1}}</td>
        <td>{{user?.login}}</td>
        <td>{{user?.email}}</td>
        <td style="text-align: center">{{user?.authority}}</td>
        <td style="text-align: center">{{user?.createDate | date:'dd-MM-yy'}}</td>
        <td style="text-align: center"><mat-icon color="primary">{{user?.active ? 'check_box' : 'check_box_outline_blank'}}</mat-icon></td>
        <td style="text-align: center">
          <button mat-button
                  matTooltip="Edytuj użytkownika"
                  [matTooltipPosition]="'above'"
                  aria-label="Edytuj użytkownika"
                  (click)="onEditClick(user)"
                  color="primary">
            <mat-icon color="warn">edit</mat-icon>
          </button>

          <button mat-button
                  matTooltip="Usuń użytkownika"
                  [matTooltipPosition]="'above'"
                  aria-label="Usuń użytkownika"
                  (click)="onDeleteClick(user)"
                  color="primary">
            <mat-icon color="warn">delete</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>

    </table>

    <div *ngIf="loading" fxFlex="100" fxLayoutAlign="center center">
      <mat-progress-spinner
        color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>

    <mat-paginator [length]="params?.total"
                   [pageIndex]="params?.page - 1"
                   [pageSize]="params?.limit"
                   [pageSizeOptions]="[5, 10]"
                   (page)="setPage($event)">
    </mat-paginator>

  </div>

</div>
