<div fxLayoutAlign="center center">

  <div *ngIf="showForm" fxLayout="column" fxFlex="40" fxFlex.sm="60" fxFlex.lt-sm="100" style="margin-top: 10px;">
    <app-category-form [category]="paramToEdit"
                       [mode]="mode"
                       (submitEvent)="onSubmit($event)"
                       (cancel)="onCancelAdd()"></app-category-form>
  </div>

  <div *ngIf="!showForm" fxLayout="column" fxFlex="40" fxFlex.sm="60" fxFlex.lt-sm="100" style="margin-top: 10px;">

    <button mat-raised-button aria-label="Dodaj nową kategorię" color="primary" (click)="onAddNewClick()">
      <mat-icon>add</mat-icon>
      Dodaj nową kategorię
    </button>

    <app-basic-filter style="margin-top: 20px;"
                      [placeholder]="'Nazwa'"
                      (filterEvent)="filterChange($event)">

    </app-basic-filter>

    <div fxLayout="row" fxFlex="100" class="mat-elevation-z3 table-header">
      <div fxFlex="10">#</div>
      <div fxFlex="40">
        <app-sort-arrow [name]="'name'" [pageRequest]="pageRequest" (sortChange)="sortChange()">
          Nazwa
        </app-sort-arrow>
      </div>
      <div fxFlex="30">
        <app-sort-arrow [name]="'active'" [pageRequest]="pageRequest" (sortChange)="sortChange()">
          Aktywna
        </app-sort-arrow>
      </div>
      <div fxFlex="20"></div>
    </div>

    <div *ngIf="loading" fxFlex="100" fxLayoutAlign="center center">
      <mat-progress-spinner
        color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>

    <div *ngIf="!loading" fxLayout="column">
      <div *ngFor="let category of params?.docs; let i = index" fxLayout="row" fxFlex="100"
           class="mat-elevation-z3 table-row">
        <div fxFlex="10" fxLayoutAlign="center center">{{i + 1}}</div>
        <div fxFlex="40" fxLayoutAlign=" center">{{category?.name}}</div>
        <div fxFlex="30" fxLayoutAlign="center center">
          <mat-icon color="primary">{{category?.active ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
        </div>
        <div fxFlex="20" fxLayout="row" fxLayoutAlign="center center">
          <div fxFlex="100">
            <button mat-button
                    matTooltip="Edytuj kategorię"
                    [matTooltipPosition]="'above'"
                    aria-label="Edytuj kategorię"
                    (click)="onEditClick(category)"
                    color="primary">
              <mat-icon color="warn">edit</mat-icon>
            </button>
          </div>

        </div>
      </div>
    </div>

    <mat-paginator [length]="params?.total"
                   [pageIndex]="params?.page - 1"
                   [pageSize]="params?.limit"
                   [pageSizeOptions]="[5, 10]"
                   (page)="setPage($event)">
    </mat-paginator>
  </div>

</div>
