.offer-list-item {
  border: #969696 1px solid;
  padding: 10px;
  border-radius: 2px;
  margin: 3px 0 3px 0;
  cursor: pointer;
}

.category-wrapper {
  display: inline-flex !important;;
  vertical-align: middle !important;
}

.category-wrapper > span {
  line-height: 2;
}

img.avatar {
  border-radius: 50%;
  margin-right: 5px;
}

img.company-logo-big {
  width: 64px !important;
  height: 64px !important;
}

img.company-logo {
  width: 44px !important;
  height: 44px !important;
}

.position {
  font-weight: bold;
  font-size: 16px;
}
