<div fxLayout="column">
  <div fxFlex="100" fxLayoutAlign="center center">
    <mat-progress-spinner
      *ngIf="loading"
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <div *ngIf="!loading" fxLayout="column">
    <div
      *ngFor="let offer of offers?.docs"
      class="mat-elevation-z3 offer-list-item"
      [routerLink]="['/offers', offer._id]">

      <div fxLayout="row" fxLayoutGap="3px" fxFlex="80">
        <img class="avatar company-logo-big" [ngClass.lt-sm]="'company-logo'"
             [src]="offer?.company?.logo"
             alt="company logo">

        <div fxLayout="column">
          <span class="position">{{offer?.position}}</span>
          <span>{{'@' + offer?.company?.name}}</span>
          <div class="category-wrapper">
            <mat-icon color="warn">label_outline</mat-icon>
            <span>{{offer?.category?.name}}</span>
          </div>
        </div>
      </div>

      <div fxLayout="column">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center center">
          <mat-icon color="accent">location_on</mat-icon>
          <span style="margin-right: 5px;"> {{offer?.location}} </span>
          <mat-icon color="accent">event</mat-icon>
          <span> {{offer?.createDate | date:'dd.MM.yyyy'}} </span>
        </div>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center" *ngIf="editEnabled || favEnabled">

          <button mat-button
                  *ngIf="editEnabled"
                  matTooltip="Edytuj oferte"
                  [matTooltipPosition]="'above'"
                  aria-label="Edytuj oferte"
                  (click)="onEditClick($event, offer._id)"
                  color="primary">
            <mat-icon color="warn">edit</mat-icon>
          </button>

          <button mat-button
                  *ngIf="editEnabled"
                  matTooltip="Usuń oferte"
                  [matTooltipPosition]="'above'"
                  aria-label="Usuń oferte"
                  (click)="onDeleteClick($event, offer._id)"
                  color="primary">
            <mat-icon color="warn">delete</mat-icon>
          </button>

          <app-fav-button
            (favClick)="emitFavClick(offer._id)"
            [isInMyFavorite]="true"
            [favEnabled]="favEnabled">

          </app-fav-button>
        </div>
      </div>
    </div>
  </div>
  <mat-paginator [length]="offers?.total"
                 [pageIndex]="offers?.page - 1"
                 [pageSize]="offers?.limit"
                 [pageSizeOptions]="[5, 10]"
                 (page)="setPage($event)">
  </mat-paginator>
</div>
