<div fxLayoutAlign="center center">
  <div fxFlex="40" fxFlex.sm="60" fxFlex.lt-sm="100">
    <div style="margin-bottom: 5px;">
      Tutaj możesz wprowadzić informacje o dodatkach które mogą zachęcić potencjalnego kandydata. Może to być informacja
      np. o karcie MultiSport, prywatnej opiece medycznej czy chociażby o liczbie monitorów która znajdzie się na jego
      stanowisku pracy.
    </div>

    <form [formGroup]="formGroup">
      <div fxLayout="column" formArrayName="bonuses">

          <div class="mat-elevation-z3 list-item"
                         *ngFor="let bonus of formArray.controls; let i = index">

            <div matLine class="form-alert alert-padding"
                 *ngIf="bonus.get('description')?.errors?.required && (bonus.get('description').dirty || bonus.get('description').touched)">
              Opis jest wymagany
            </div>

            <div matLine class="form-alert alert-padding"
                 *ngIf="bonus.get('description')?.errors?.maxlength && (bonus.get('description').dirty || bonus.get('description').touched)">
              Maksymalna długość opisu to {{descMaxLength}} znaków
            </div>

            <div fxLayout="row">
              <div fxFlex="50" style="padding-top: 10px">
                Dodatek {{i + 1}}
              </div>
              <div fxFlex="50" style="text-align: right">
                <button mat-button
                        matTooltip="Usuń dodatek"
                        [matTooltipPosition]="'above'"
                        aria-label="Usuń dodatek"
                        color="primary">
                  <mat-icon (click)="removeBonus(i)"
                            color="primary"
                            style="cursor: pointer">
                    delete
                  </mat-icon>
                </button>
              </div>
            </div>

            <div [formGroupName]="i" fxLayout="row">
                <mat-form-field fxFlex="100">
                  <input #desc
                         (keypress)="checkInputLength($event, descMaxLength)"
                         matInput
                         formControlName="description"
                         type="text"
                         placeholder="Opis"
                         required>
                  <span class="length-limit">{{desc?.value?.length}}/{{descMaxLength}}</span>
                </mat-form-field>
            </div>

          </div>

        <button mat-raised-button
                color="primary"
                aria-label="Dodaj dodatek"
                (click)="addBonus()">
          <mat-icon>add</mat-icon>
          Dodaj dodatek
        </button>

      </div>
    </form>

  </div>
</div>
