<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="push" opened="false">
    <mat-nav-list (click)="sidenav.toggle()">

      <mat-list-item [routerLink]="['/']">
        <mat-icon color="primary">home</mat-icon>
        <span>Strona główna</span>
      </mat-list-item>

      <mat-list-item *ngIf="!authService.isUserLogged()" [routerLink]="['/signup']">
        <mat-icon color="primary">assignment_ind</mat-icon>
        <span>Rejestracja</span>
      </mat-list-item>

      <mat-list-item *ngIf="!authService.isUserLogged()" [routerLink]="['/login']">
        <mat-icon color="primary">exit_to_app</mat-icon>
        <span>Zaloguj się</span>
      </mat-list-item>

      <mat-list-item *ngIf="authService.isUserLogged()" (click)="logout()">
        <mat-icon color="primary">power_settings_new</mat-icon>
        <span>Wyloguj się</span>
      </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <a class="fab"
       (click)="sidenav.toggle()">
      <mat-icon>{{sidenav.opened ? 'close' : 'menu'}}</mat-icon>
    </a>
    <span>{{appName}}</span>
  </mat-toolbar>

  <div class="wrapper">
    <router-outlet></router-outlet>
  </div>

  <div class="footer">
    <app-footer></app-footer>
  </div>

</mat-sidenav-container>

