<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" opened="false">
    <app-sidenav
      [isUserLogged]="authService.isUserLogged()"
      [user]="user"
      (toggle)="sidenav.toggle()"
      (logout)="logout()">
    </app-sidenav>
  </mat-sidenav>

  <mat-toolbar color="primary" class="mat-elevation-z7 fixed-header">
    <mat-icon
      class="fab"
      (click)="sidenav.toggle()"
      mat-card-avatar>
      {{sidenav.opened ? 'close' : 'menu'}}
    </mat-icon>
    <span>{{appName}}</span>
  </mat-toolbar>

  <div class="main-wrapper">
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>

</mat-sidenav-container>
