<div fxLayout="column">
  <div fxFlex="100" fxLayoutAlign="center center">
    <mat-progress-spinner
      *ngIf="loading"
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <mat-card *ngIf="offerToEdit">

    <mat-card-header>
      <mat-icon mat-card-avatar color="primary" class="avatar">edit</mat-icon>
      <mat-card-title>Formularz edycji oferty</mat-card-title>
      <mat-card-subtitle>Edytuj oferte</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <app-offer-form
        [offerToEdit]="offerToEdit"
        (onSubmit)="onSubmit($event)">

      </app-offer-form>

    </mat-card-content>

  </mat-card>
</div>
