<div fxLayoutAlign="center center">

  <div *ngIf="showForm" fxLayout="column" fxFlex="40" fxFlex.sm="60" fxFlex.lt-sm="100" style="margin-top: 10px;">
    <app-company-form (submitEvent)="onSubmit($event)"
                      [companyToEdit]="paramToEdit"
                      [mode]="mode"
                      [adminPanel]="true"
                      (cancel)="onCancelAdd()"></app-company-form>
  </div>

  <div *ngIf="!showForm" fxLayout="column" fxFlex="40" fxFlex.sm="60" fxFlex.lt-sm="100" style="margin-top: 10px;">

    <button mat-raised-button aria-label="Dodaj nową firmę" color="primary" (click)="onAddNewClick()">
      <mat-icon>add</mat-icon>
      Dodaj nową firmę
    </button>

    <app-basic-filter style="margin-top: 20px;"
                      [placeholder]="'Nazwa'"
                      (filterEvent)="filterChange($event)">

    </app-basic-filter>

    <table>
      <thead>
        <th>#</th>
        <th colspan="2">
          <app-sort-arrow [name]="'name'" [pageRequest]="pageRequest" (sortChange)="sortChange()">
            Nazwa
          </app-sort-arrow>
        </th>
        <th>
          <app-sort-arrow [name]="'active'" [pageRequest]="pageRequest" (sortChange)="sortChange()">
            Aktywna
          </app-sort-arrow>
        </th>
        <th>Akcje</th>
      </thead>

      <tbody *ngIf="!loading">

      <tr *ngFor="let company of params?.docs; let i = index">
        <td>{{i + 1}}</td>
        <td><img fxHide.lt-sm="true" class="avatar company-logo" [src]="company?.logo"></td>
        <td>{{company?.name}}</td>
        <td style="text-align: center"><mat-icon color="primary">{{company?.active ? 'check_box' : 'check_box_outline_blank'}}</mat-icon></td>
        <td style="text-align: center">
          <button mat-button
                  matTooltip="Edytuj firmę"
                  [matTooltipPosition]="'above'"
                  aria-label="Edytuj firmę"
                  (click)="onEditClick(company)"
                  color="primary">
            <mat-icon color="warn">edit</mat-icon>
          </button>
        </td>
      </tr>
      </tbody>

    </table>

    <div *ngIf="loading" fxFlex="100" fxLayoutAlign="center center">
      <mat-progress-spinner
        color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>

    <mat-paginator [length]="params?.total"
                   [pageIndex]="params?.page - 1"
                   [pageSize]="params?.limit"
                   [pageSizeOptions]="[5, 10]"
                   (page)="setPage($event)">
    </mat-paginator>
  </div>

</div>
