<app-offers-filter (filtersChange)="onFiltersChange($event)"
                   (sortDirChange)="onSortDirChange($event)">

</app-offers-filter>

<div>
  <button [routerLink]="['/my-offers/add']" mat-raised-button aria-label="Dodaj oferte" color="primary" fxFlex.lt-sm="100" fxFlex="25">
    <mat-icon>add</mat-icon>
    Dodaj oferte
  </button>
</div>

<app-categories-selector (categoryChange)="onCategoryChange($event)"></app-categories-selector>

<app-offers-list
  [offers]="offers"
  [loading]="loading"
  (pageChange)="onPageChange($event)"
  [editEnabled]="true"
  (actionClick)="onActionClick($event)">
</app-offers-list>
