<div fxLayoutAlign="center center">
  <div fxFlex="50" fxFlex.sm="60" fxFlex.lt-sm="100">

    <mat-card>

      <mat-card-header>
        <mat-icon mat-card-avatar color="primary" class="avatar">assignment_ind</mat-icon>
        <mat-card-title>Utwórz nowe konto</mat-card-title>
        <mat-card-subtitle>Rejestracja</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <app-user-form (submitEvent)="onSubmit($event)"></app-user-form>

      </mat-card-content>

    </mat-card>
  </div>
</div>
