<div fxLayoutAlign="center center">
  <div fxFlex="50" fxFlex.sm="60" fxFlex.lt-sm="100">

    <mat-card>

      <mat-card-header>
        <mat-icon mat-card-avatar color="primary" class="avatar">assignment_ind</mat-icon>
        <mat-card-title>Utwórz nowe konto</mat-card-title>
        <mat-card-subtitle>Rejestracja</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
          <div fxLayout="column" fxFlex="100">

            <div class="form-alert alert-padding"
                 *ngIf="login?.errors?.required && (login.dirty || login.touched || registerForm.submitted)">
              Login jest wymagany
            </div>
            <div class="form-alert alert-padding"
                 *ngIf="email?.errors?.required && (email.dirty || email.touched || registerForm.submitted)">
              Email jest wymagany
            </div>
            <div class="form-alert alert-padding"
                 *ngIf="email?.errors?.email && (email.dirty || email.touched || registerForm.submitted)">
              Email niepoprawny
            </div>

            <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="50" fxFlex.lt-sm="100" fxLayoutGap.sm="20px"
                 fxLayoutGap.gt-sm="20px">

              <div fxFlex="50" fxFlex.lt-sm="100">
                <mat-form-field fxFlex="100">
                  <input #login="ngModel"
                         matInput
                         type="text"
                         name="login"
                         placeholder="Login"
                         [(ngModel)]="user.login"
                         required>
                </mat-form-field>
              </div>

              <div fxFlex="50" fxFlex.lt-sm="100">
                <mat-form-field fxFlex="100">
                  <input #email="ngModel"
                         matInput
                         type="email"
                         name="email"
                         placeholder="Email"
                         [(ngModel)]="user.email"
                         required
                         email>
                </mat-form-field>
              </div>

            </div>

            <div class="form-alert alert-padding"
                 *ngIf="password?.errors?.required && (password.dirty || password.touched || registerForm.submitted)">
              Hasło jest wymagane
            </div>
            <div class="form-alert alert-padding"
                 *ngIf="repeatPassword?.errors?.matchPassword && (repeatPassword.dirty || repeatPassword.touched || registerForm.submitted)">
              Hasła nie zgadzają się
            </div>


            <div fxLayout="row" fxLayout.lt-sm="column" fxFlex="50" fxFlex.lt-sm="100" fxLayoutGap.sm="20px"
                 fxLayoutGap.gt-sm="20px">

              <div fxFlex="50" fxFlex.lt-sm="100">
                <mat-form-field fxFlex="100">
                  <input #password="ngModel"
                         matInput
                         type="password"
                         name="password"
                         placeholder="Hasło"
                         [(ngModel)]="user.password"
                         required>
                </mat-form-field>
              </div>

              <div fxFlex="50" fxFlex.lt-sm="100">
                <mat-form-field fxFlex="100">
                  <input #repeatPassword="ngModel"
                         matInput
                         type="password"
                         name="repeatPassword"
                         placeholder="Powtórz hasło"
                         [(ngModel)]="repeatPasswd"
                         required
                         matchPassword>
                </mat-form-field>
              </div>

            </div>

            <div fxlayout="column" fxLayoutAlign="center center">
              <button color="primary"
                      fxFlex="100"
                      mat-raised-button
                      [disabled]="registerForm.invalid"
                      type="submit">Utwórz konto
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>

    </mat-card>
  </div>
</div>
