<div fxFlex="100">
    <form #filterForm="ngForm" (ngSubmit)="onFiltersSubmit()">

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
        <div fxFlex="80" fxFlex.lt-sm="100">
          <mat-input-container fxFlex="100">
            <input matInput
                   [(ngModel)]="query"
                   type="text"
                   name="position"
                   placeholder="{{placeholder}}">
            <mat-icon *ngIf="query" matSuffix style="cursor: pointer;" (click)="clearFilter()">close</mat-icon>
          </mat-input-container>
        </div>

        <div fxFlex="20" fxFlex.lt-sm="100" fxLayoutAlign="center center">
          <button color="primary"
                  fxFlex="100"
                  type="submit"
                  mat-raised-button>
            Szukaj
          </button>
        </div>
      </div>

    </form>
</div>
