.app-footer.mat-toolbar {
  min-height: 32px;
  align-items: center;
  font-size: 12px;
}

/deep/ app-footer {
  .mat-toolbar-row {
    height: 40px;
  }
}

a {
  color: #fff;
}

.footer-fixed {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0px;
  flex-direction: column;
}
