<div fxLayoutAlign="center center">
  <div fxFlex="40" fxFlex.sm="60" fxFlex.lt-sm="100">
    <form [formGroup]="formGroup">
      <div fxLayout="column" fxFlex="100" formGroupName="terms">

        <div>
          <mat-form-field fxFlex="100">
            <mat-select
              formControlName="formOfEmployment"
              required
              placeholder="Forma zatrudnienia">
              <mat-option *ngFor="let form of formOfEmployment" [value]="form">
                {{ form }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="column">
          <span class="field-placeholder required">Wymiar etatu</span>
          <mat-slider fxFlex="100"
                      matInput
                      color="primary"
                      formControlName="jobTime"
                      thumbLabel
                      tickInterval="5"
                      [min]="5"
                      [max]="100"
                      [step]="5">
          </mat-slider>
        </div>

        <div class="form-alert alert-padding" *ngIf="formGroup.invalid && (formGroup.dirty || formGroup.touched)">
          Minimalna wartość wynagrodzenia to 0
        </div>

        <div formGroupName="salary">
          <mat-form-field fxFlex="100">
            <input matInput
                   formControlName="amount"
                   type="number"
                   placeholder="Wynagrodzenie"
                   required>
          </mat-form-field>

          <mat-form-field fxFlex="100">
          <mat-select
            formControlName="currency"
            required
            placeholder="Waluta">
            <mat-option *ngFor="let currency of currencies" [value]="currency">
              {{ currency }}
            </mat-option>
          </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="100">
          <mat-select
            formControlName="type"
            required
            placeholder="Typ">
            <mat-option *ngFor="let type of salaryTypes" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="100">
          <mat-select
            formControlName="period"
            required
            placeholder="Okres">
            <mat-option *ngFor="let period of periods" [value]="period">
              {{ period }}
            </mat-option>
          </mat-select>
          </mat-form-field>

        </div>

      </div>
    </form>
  </div>
</div>
