<mat-card>

  <mat-card-header>
    <mat-icon mat-card-avatar color="primary" class="avatar">local_offer</mat-icon>
    <mat-card-title>Wyszukiwanie ogłoszeń</mat-card-title>
    <mat-card-subtitle>Oferty</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <app-offers-filter (filtersChange)="onFiltersChange($event)"
                       (sortDirChange)="onSortDirChange($event)">

    </app-offers-filter>

    <app-categories-selector (categoryChange)="onCategoryChange($event)"></app-categories-selector>

    <app-offers-list [offers]="offers"
                     [loading]="loading"
                     (pageChange)="onPageChange($event)">

    </app-offers-list>

  </mat-card-content>

</mat-card>
