.details-header {
  border-bottom: #969696 1px solid;
  margin-bottom: 15px;
}

.detail-param-wrap {
  margin-bottom: 5px;
}

.detail-param {
  font-weight: bold;
  min-width: 50%;
}

.requirements-wrap {
  min-width: 50%;
}

.requirement-group {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.detail-group-title {
  font-weight: bold;
  font-size: 18px;
}
