snack-bar-container.snackbar-info {
  background-color: #2b33ff;
}

snack-bar-container.snackbar-success {
  background-color: #25cd4a;
}

snack-bar-container.snackbar-error {
  background-color: #ff1236;
}
