<mat-card>

  <mat-card-header>
    <img mat-card-avatar src="assets/img/ca.png" alt="company logo">
    <mat-card-title>Senior frontend developer (Angular4)</mat-card-title>
    <mat-card-subtitle>@Comarch S.A.</mat-card-subtitle>
    <div fxFlex="auto" style="text-align: right;">
      <mat-icon color="primary">event</mat-icon>
      <span>28.10.2017</span>
      <app-fav-button [favEnabled]="authService.isUserLogged()"></app-fav-button>
    </div>
  </mat-card-header>

  <mat-card-content>

    <div fxLayout="column" fxLayoutGap="20px">

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">

        <mat-card fxFlex.gt-sm="50" fxFlex="100">
          <mat-card-header class="details-header">
            <mat-icon mat-card-avatar color="primary" class="avatar">description</mat-icon>
            <mat-card-title class="detail-group-title">Opis stanowiska</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            Poszukujemy doświadczonego frontend developera do pracy przy projekcie
            związanym z przepisaniem aplikacji desktopowej na aplikację webową w
            technologii Angular 4. Oferujemy stabilne zatrudnienie w firmie z
            polskim kapitałem oraz pracę w zespole doświadczonych specjalistów.
          </mat-card-content>
        </mat-card>

        <mat-card fxFlex.gt-sm="50" fxFlex="100">
          <mat-card-header class="details-header">
            <mat-icon mat-card-avatar color="primary" class="avatar">assignment_turned_in</mat-icon>
            <mat-card-title class="detail-group-title">Wymagania</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div fxLayout="row" fxLayout.lt-sm="column">

              <div class="requirements-wrap">
                <div class="requirement-group">Technologie</div>
                <div class="detail-param-wrap" fxLayout="row" fxLayout.lt-sm="column">
                  <div class="detail-param">Angular4</div>
                  <div>
                    <mat-icon color="primary">star</mat-icon>
                    <mat-icon color="primary">star</mat-icon>
                    <mat-icon color="primary">star</mat-icon>
                  </div>
                </div>
                <div class="detail-param-wrap" fxLayout="row" fxLayout.lt-sm="column">
                  <div class="detail-param">TypeScript</div>
                  <div>
                    <mat-icon color="primary">star</mat-icon>
                    <mat-icon color="primary">star</mat-icon>
                    <mat-icon color="primary">star</mat-icon>
                  </div>
                </div>
                <div class="detail-param-wrap" fxLayout="row" fxLayout.lt-sm="column">
                  <div class="detail-param">ES6</div>
                  <div>
                    <mat-icon color="primary">star</mat-icon>
                    <mat-icon color="primary">star</mat-icon>
                    <mat-icon color="primary">star</mat-icon>
                  </div>
                </div>
                <div class="detail-param-wrap" fxLayout="row" fxLayout.lt-sm="column">
                  <div class="detail-param">HTML</div>
                  <div>
                    <mat-icon color="primary">star</mat-icon>
                    <mat-icon color="primary">star</mat-icon>
                    <mat-icon color="primary">star</mat-icon>
                  </div>
                </div>
                <div class="detail-param-wrap" fxLayout="row" fxLayout.lt-sm="column">
                  <div class="detail-param">CSS</div>
                  <div>
                    <mat-icon color="primary">star</mat-icon>
                    <mat-icon color="primary">star</mat-icon>
                    <mat-icon color="primary">star</mat-icon>
                  </div>
                </div>
              </div>

              <div class="requirements-wrap">
                <div class="requirement-group">Inne</div>
                <div class="detail-param-wrap" fxLayout="row" fxLayout.lt-sm="column">
                  <div class="detail-param">Język angielski</div>
                  <div>
                    <mat-icon color="primary">star</mat-icon>
                    <mat-icon color="primary">star</mat-icon>
                    <mat-icon color="primary">star_border</mat-icon>
                  </div>
                </div>
                <div class="detail-param-wrap" fxLayout="row" fxLayout.lt-sm="column">
                  <div class="detail-param">Praca w zespole</div>
                  <div>
                    <mat-icon color="primary">star</mat-icon>
                    <mat-icon color="primary">star</mat-icon>
                    <mat-icon color="primary">star</mat-icon>
                  </div>
                </div>
                <div class="detail-param-wrap" fxLayout="row" fxLayout.lt-sm="column">
                  <div class="detail-param">Komunikatywność</div>
                  <div>
                    <mat-icon color="primary">star</mat-icon>
                    <mat-icon color="primary">star</mat-icon>
                    <mat-icon color="primary">star</mat-icon>
                  </div>
                </div>
                <div class="detail-param-wrap" fxLayout="row" fxLayout.lt-sm="column">
                  <div class="detail-param">Dyspozycyjność</div>
                  <div>
                    <mat-icon color="primary">star</mat-icon>
                    <mat-icon color="primary">star</mat-icon>
                    <mat-icon color="primary">star</mat-icon>
                  </div>
                </div>
              </div>

            </div>
          </mat-card-content>
        </mat-card>

      </div>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">

        <mat-card fxFlex="33" fxFlex.lt-sm="100">
          <mat-card-header class="details-header">
            <mat-icon mat-card-avatar color="primary" class="avatar">attach_money</mat-icon>
            <mat-card-title class="detail-group-title">Warunki zatrudnienia</mat-card-title>
          </mat-card-header>
          <mat-card-content>

            <div class="detail-param-wrap" fxLayout="row" fxLayout.lt-sm="column">
              <div class="detail-param">Forma zatrudnienia:</div>
              <div>umowa o pracę</div>
            </div>

            <div class="detail-param-wrap" fxLayout="row" fxLayout.lt-sm="column">
              <div class="detail-param">Wymiar etatu:</div>
              <div>100%</div>
            </div>

            <div class="detail-param-wrap" fxLayout="row" fxLayout.lt-sm="column">
              <div class="detail-param">Wynagrodzenie:</div>
              <div>8000PLN netto / miesięcznie</div>
            </div>

            <div class="detail-param-wrap" fxLayout="row" fxLayout.lt-sm="column">
              <div class="detail-param">Miejsce pracy:</div>
              <div>Rzeszów</div>
            </div>

          </mat-card-content>

        </mat-card>

        <mat-card fxFlex="33" fxFlex.lt-sm="100">
          <mat-card-header class="details-header">
            <mat-icon mat-card-avatar color="primary" class="avatar">card_giftcard</mat-icon>
            <mat-card-title class="detail-group-title">Dodatkowo</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="detail-param-wrap detail-param">Karta MultiSport</div>
            <div class="detail-param-wrap detail-param">Prywatna opieka zdrowotna</div>
            <div class="detail-param-wrap detail-param">Pokrycie kosztów szkoleń</div>
            <div class="detail-param-wrap detail-param">2 do 3 LCD 23"</div>
            <div class="detail-param-wrap detail-param">Konsola do gier dla pracowników</div>
            <div class="detail-param-wrap detail-param"></div>
          </mat-card-content>
        </mat-card>

        <mat-card fxFlex="33" fxFlex.lt-sm="100">
          <mat-card-header class="details-header">
            <mat-icon mat-card-avatar color="primary" class="avatar">contact_mail</mat-icon>
            <mat-card-title class="detail-group-title">Kontakt</mat-card-title>
          </mat-card-header>
          <mat-card-content>

            <div class="detail-param-wrap" fxLayout="row" fxLayout.lt-sm="column">
              <div class="detail-param">Telefon:</div>
              <div>555777999</div>
            </div>

            <div class="detail-param-wrap" fxLayout="row" fxLayout.lt-sm="column">
              <div class="detail-param">Email:</div>
              <div><a href="mailto:kariera@comarch.pl">kariera@comarch.pl</a></div>
            </div>

            <div class="detail-param-wrap" fxLayout="row" fxLayout.lt-sm="column">
              <div class="detail-param">WWW:</div>
              <div><a target="_blank" href="https://www.comarch.pl/">https://www.comarch.pl/</a></div>
            </div>
          </mat-card-content>
        </mat-card>

      </div>

    </div>

  </mat-card-content>

</mat-card>
