<div fxLayoutAlign="center center">
  <div fxFlex="40" fxFlex.sm="60" fxFlex.lt-sm="100">
    <form [formGroup]="formGroup">

      <div fxLayout="column" fxFlex="100">

        <div>
          <mat-form-field fxFlex="100">
            <input matInput
                   formControlName="title"
                   type="text"
                   placeholder="Tytuł"
                   required>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">

          <div fxFlex="50" fxFlex.lt-sm="100">
            <mat-form-field fxFlex="100">
              <mat-select
                formControlName="category"
                required
                placeholder="Kategoria">
                <mat-option *ngFor="let category of categories" [value]="category">
                  {{ category }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="50" fxFlex.lt-sm="100">
            <mat-form-field fxFlex="100">
              <input matInput
                     formControlName="location"
                     type="text"
                     placeholder="Miejscowość"
                     required>
            </mat-form-field>
          </div>

        </div>

      </div>

    </form>
  </div>
</div>
