<div fxLayoutAlign="center center">
  <div fxFlex="40" fxFlex.sm="60" fxFlex.lt-sm="100">
    <form [formGroup]="formGroup">

      <div fxLayout="column" fxFlex="100">

        <div class="form-alert alert-padding" *ngIf="formGroup.controls.position?.errors?.required && (formGroup.controls.position.dirty || formGroup.controls.position.touched)">
          Stanowisko jest wymagane
        </div>

        <div class="form-alert alert-padding" *ngIf="formGroup.controls.position?.errors?.maxlength && (formGroup.controls.position.dirty || formGroup.controls.position.touched)">
          Maksymalna długość stanowiska to {{positionMaxLength}} znaków
        </div>

        <div>
          <mat-form-field fxFlex="100">
            <input #position
                   (keypress)="checkInputLength($event, positionMaxLength)"
                   matInput
                   formControlName="position"
                   type="text"
                   placeholder="Stanowisko"
                   required>
            <span class="length-limit">{{position?.value?.length}}/{{positionMaxLength}}</span>
          </mat-form-field>
        </div>

        <div class="form-alert alert-padding" *ngIf="formGroup.controls.category?.errors?.required && (formGroup.controls.category.dirty || formGroup.controls.category.touched)">
          Kategoria jest wymagana
        </div>

        <div class="form-alert alert-padding" *ngIf="formGroup.controls.location?.errors?.required && (formGroup.controls.location.dirty || formGroup.controls.location.touched)">
          Miejscowość jest wymagana
        </div>

        <div class="form-alert alert-padding" *ngIf="formGroup.controls.location?.errors?.maxlength && (formGroup.controls.location.dirty || formGroup.controls.location.touched)">
          Maksymalna długość miejscowości to {{locationMaxLength}} znaków
        </div>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">

          <div fxFlex="50" fxFlex.lt-sm="100">
            <mat-form-field fxFlex="100">
              <mat-select
                [compareWith]="compareCategory"
                formControlName="category"
                required
                placeholder="Kategoria">
                <mat-option *ngFor="let category of categories" [value]="category">
                  {{category.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="50" fxFlex.lt-sm="100">
            <mat-form-field fxFlex="100">
              <input #location
                     (keypress)="checkInputLength($event, locationMaxLength)"
                     matInput
                     formControlName="location"
                     type="text"
                     placeholder="Miejscowość"
                     required>
              <span class="length-limit">{{location?.value?.length}}/{{locationMaxLength}}</span>
            </mat-form-field>
          </div>

        </div>

      </div>

    </form>
  </div>
</div>
