/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "assets/styles/snackbar";

html, body {
  margin: 0;
}

.avatar.material-icons {
  font-size: 40px;
}

.form-alert {
  background-color: #ffe3e1;
  color: #ff0000;
  border-radius: 2px;
  text-align: center;
  padding: 2px;
  border: 1px solid #ff0000;
  box-shadow: 1px 1px #ffe3e1;
}

.alert-padding {
  margin-bottom: 5px;
}

span.length-limit {
  font-size: 12px;
  float: right;
}

span.error {
  color: #ff0000 !important;
}

span.field-placeholder {
  color: rgba(0,0,0,.54);
  font-size: 14px;
}

span.field-placeholder.required::after {
  content: " *";
}

.list-item {
  padding: 15px 15px 15px 15px;
  margin-bottom: 5px;
}

.table-header {
  font-weight: bold;
  margin: 10px 0 5px 0;
  font-size: 18px;
  padding: 5px;
  text-align: center;
}

.table-header-small {
  font-size: 16px;
}

.table-row {
  margin-bottom: 5px;
  font-size: 16px;
  padding: 5px;
}

.table-row-small {
  font-size: 14px;
}

.action-icon-small {
  font-size: 20px;
}
