<form [formGroup]="formGroup">
  <div fxLayout="column" fxLayoutGap="10px" fxFlex="100">

    <div>
      <mat-form-field fxFlex="100">
        <input #name
               (keypress)="checkInputLength($event, nameMaxLength)"
               matInput
               formControlName="name"
               type="text"
               placeholder="Nazwa firmy"
               required>
        <span class="length-limit">{{name?.value?.length}}/{{nameMaxLength}}</span>
      </mat-form-field>
    </div>

    <span [ngClass]="{'error': isImageInputClicked && !formGroup.valid && formGroup.hasError('required', ['logo'])}">Logo*</span>
    <div fxLayout="column" fxLayoutAlign="center center">
      <div *ngIf="imagePreview" class="image-preview-container">
        <img mat-card-avatar class="image-preview" [src]="imagePreview.src" alt="logo firmy">
        <div class="preview-icon-wrapper remove" (click)="removeImage()">
          <mat-icon color="primary">delete</mat-icon>
        </div>
      </div>
      <!--<div *ngIf="imagePreview" fxHide.gt-xs class="remove" (click)="removeImage()">-->
        <!--<mat-icon color="primary">delete</mat-icon>-->
      <!--</div>-->
    </div>

    <div>
      <input #imageInput
             fxFlex="100"
             (click)="imageInputClicked()"
             (change)="loadImage($event)"
             accept="image/*"
             type="file"
             required>
    </div>

    <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="10px">
      <button mat-raised-button
              aria-label="Dodaj"
              color="primary"
              (click)="addCompany()"
              [disabled]="!formGroup.valid"
              fxFlex="50">
        <mat-icon>add</mat-icon>
        Dodaj
      </button>

      <button mat-raised-button aria-label="Anuluj" color="primary" (click)="cancelAdd()" fxFlex="50">
        <mat-icon>cancel</mat-icon>
        Anuluj
      </button>
    </div>

  </div>
</form>
