<form [formGroup]="formGroup">
  <div fxLayout="column" fxLayoutGap="10px" fxFlex="100">

    <div class="form-alert alert-padding" *ngIf="formGroup.controls.name?.errors?.required && (formGroup.controls.name.dirty || formGroup.controls.name.touched)">
      Nazwa jest wymagana
    </div>

    <div class="form-alert alert-padding" *ngIf="formGroup.controls.name?.errors?.maxlength && (formGroup.controls.name.dirty || formGroup.controls.name.touched)">
      Maksymalna długość nazwy to {{nameMaxLength}} znaków
    </div>

    <div>
      <mat-form-field fxFlex="100">
        <input #name
               (keypress)="checkInputLength($event, nameMaxLength)"
               matInput
               formControlName="name"
               type="text"
               placeholder="Nazwa firmy"
               required>
        <span class="length-limit">{{name?.value?.length}}/{{nameMaxLength}}</span>
      </mat-form-field>
    </div>

    <mat-slide-toggle color="primary"
                      *ngIf="adminPanel"
                      formControlName="active">
      Aktywna
    </mat-slide-toggle>

    <div class="form-alert alert-padding" *ngIf="isImageInputClicked && !formGroup.valid && formGroup.hasError('required', ['logo'])">
      Logo jest wymagane
    </div>

    <span class="field-placeholder required"
          [ngClass]="{'error': isImageInputClicked && !formGroup.valid && formGroup.hasError('required', ['logo'])}">Logo</span>
    <div fxLayout="column" fxLayoutAlign="center center">
      <div *ngIf="imagePreview" class="image-preview-container">
        <img mat-card-avatar class="image-preview" [src]="imagePreview.src" alt="logo firmy">
        <div class="preview-icon-wrapper remove" (click)="removeImage()">
          <mat-icon color="primary">delete</mat-icon>
        </div>
      </div>
    </div>

    <div>
      <label style="cursor: pointer">
        <mat-icon>attach_file</mat-icon>
        Wybierz plik
        <input #imageInput
               fxFlex="100"
               style="display: none"
               (click)="imageInputClicked()"
               (change)="loadImage($event)"
               accept="image/*"
               type="file"
               required>
      </label>
    </div>

    <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="10px">
      <button mat-raised-button
              *ngIf="mode === 'add'"
              aria-label="Dodaj"
              color="primary"
              (click)="addCompany()"
              [disabled]="!formGroup.valid"
              fxFlex="50">
        <mat-icon>add</mat-icon>
        Dodaj
      </button>

      <button mat-raised-button
              *ngIf="mode === 'edit'"
              aria-label="Zapisz"
              color="primary"
              (click)="editCompany()"
              [disabled]="!formGroup.valid"
              fxFlex="50">
        <mat-icon>save</mat-icon>
        Zapisz
      </button>

      <button mat-raised-button aria-label="Anuluj" color="primary" (click)="cancelAdd()" fxFlex="50">
        <mat-icon>cancel</mat-icon>
        Anuluj
      </button>
    </div>

  </div>
</form>
