<form [formGroup]="formGroup">
  <div fxLayout="column" fxLayoutGap="10px" fxFlex="100">

    <div>
      <mat-form-field fxFlex="100">
        <input matInput
               formControlName="name"
               type="text"
               placeholder="Nazwa firmy"
               required>
      </mat-form-field>
    </div>

    <span>Logo</span>
    <div fxLayoutAlign="center center">
      <div *ngIf="imagePreview" class="image-preview-container">
        <img mat-card-avatar class="image-preview" [src]="imagePreview.src" alt="logo firmy">
        <div class="middle" style="cursor: pointer;" (click)="removeImage()">
          <mat-icon color="primary">delete</mat-icon>
        </div>
      </div>
    </div>

    <div>
      <input #imageInput
             fxFlex="100"
             (change)="loadImage($event)"
             accept="image/*"
             type="file"
             required>
    </div>

    <div fxLayout.lt-sm="column" fxLayout="row" fxLayoutGap="10px">
      <button mat-raised-button
              aria-label="Dodaj"
              color="primary"
              (click)="addCompany()"
              [disabled]="!formGroup.valid"
              fxFlex="50">
        <mat-icon>add</mat-icon>
        Dodaj
      </button>

      <button mat-raised-button aria-label="Anuluj" color="primary" (click)="cancelAdd()" fxFlex="50">
        <mat-icon>cancel</mat-icon>
        Anuluj
      </button>
    </div>

  </div>
</form>
