img.image-preview {
  width: 80px !important;
  height: 80px !important;
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.image-preview-container {
  position: relative;
  width: 80px !important;
  height: 80px !important;
  border-radius: 50%;
}

.preview-icon-wrapper {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.image-preview-container:hover .image-preview {
  opacity: 0.3;
}

.image-preview-container:hover .preview-icon-wrapper {
  opacity: 1;
}

.remove {
  cursor: pointer;
}
