<div fxLayoutAlign="center center">
  <div fxFlex="40" fxFlex.sm="60" fxFlex.lt-sm="100">
    <form [formGroup]="formGroup" fxHide="showCompanyForm">
      <div fxLayout="column" fxLayoutGap="10px" fxFlex="100" *ngIf="!showCompanyForm">

        <div>
          <mat-form-field fxFlex="100">
            <input matInput
                   placeholder="Wyszukaj firmę"
                   aria-label="Wyszukaj firmę"
                   [matAutocomplete]="companyAutoComp"
                   [formControl]="companyIdCtrl"
                   required>

            <mat-autocomplete #companyAutoComp="matAutocomplete" [displayWith]="companyDisplayFn">
              <mat-option *ngIf="filteredCompanies?.length === 0" [value]="-1" [disabled]="true">
                <span>Nie znaleziono</span>
              </mat-option>

              <mat-option *ngFor="let company of filteredCompanies" [value]="company">
                <!--<img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />-->
                <span>{{ company?.name }}</span>
              </mat-option>

            </mat-autocomplete>
          </mat-form-field>
        </div>

        <button mat-raised-button aria-label="Dodaj nową firme" color="primary" (click)="showNewCompanyForm()">
          <mat-icon>add</mat-icon>
          Dodaj nową firme
        </button>

      </div>
    </form>

    <app-company-form *ngIf="showCompanyForm"
                      (add)="onAddCompany($event)"
                      (cancel)="onCancelAdd()"
                      [initName]="newCompanyName">
    </app-company-form>
  </div>
</div>
