<mat-horizontal-stepper>
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>Informacje podstawowe</ng-template>
    <form [formGroup]="firstFormGroup">

      <div fxLayout="column" fxFlex.gt-sm="40" fxFlex.sm="50" fxFlex="100">

        <div>
          <mat-form-field fxFlex="100">
            <input matInput
                   formControlName="titleCtrl"
                   type="text"
                   placeholder="Tytuł"
                   required>
          </mat-form-field>
        </div>

        <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="10px">

          <div fxFlex="50" fxFlex.lt-sm="100">
            <mat-form-field fxFlex="100">
              <mat-select
                formControlName="categoryCtrl"
                required
                placeholder="Kategoria">
                <mat-option *ngFor="let category of categories" [value]="category">
                  {{ category }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div fxFlex="50" fxFlex.lt-sm="100">
            <mat-form-field fxFlex="100">
              <input matInput
                     formControlName="locationCtrl"
                     type="text"
                     placeholder="Miejscowość"
                     required>
            </mat-form-field>
          </div>

        </div>

      </div>

    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Firma</ng-template>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>Opis</ng-template>
    <form [formGroup]="secondFormGroup">
      <mat-form-field>
        <input matInput
               formControlName="descCtrl"
               type="text"
               placeholder="Opis"
               required>
      </mat-form-field>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Wymagania</ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Warunki/Dodatki</ng-template>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Kontakt</ng-template>
  </mat-step>
</mat-horizontal-stepper>
