<mat-list>
  <mat-list-item
    *ngFor="let offer of offers"
    class="mat-elevation-z3"
    [routerLink]="[offer._id]">
    <img [ngClass.gt-sm]="'company-logo'" mat-list-icon src="assets/img/ca.png" alt="company logo">
    <h3 matLine> {{offer.position}} </h3>
    <p matLine>
      <span> @{{offer.company}} </span>
    </p>
    <p matLine class="category-wrapper">
      <mat-icon color="warn">label_outline</mat-icon>
      <span>{{offer.category}}</span>
    </p>
    <div fxLayout="row" fxHide.lt-sm>
      <mat-icon color="warn">location_on</mat-icon>
      <span style="margin-right: 5px;"> {{offer.location}} </span>
      <mat-icon color="warn">event</mat-icon>
      <span> {{offer.createDate | date:'dd.MM.yyyy'}} </span>
    </div>
  </mat-list-item>
</mat-list>
<mat-paginator [length]="30"
               [pageSize]="5"
               [pageSizeOptions]="[5, 10]">
</mat-paginator>
