<mat-card>

  <mat-card-header>
    <mat-icon mat-card-avatar color="primary" class="avatar">library_books</mat-icon>
    <mat-card-title>Zarządzaj ogłoszeniami</mat-card-title>
    <mat-card-subtitle>Moje oferty</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <mat-tab-group>
      <mat-tab [label]="addedLabel" #addedTab>
        <ng-template mat-tab-label>
          <mat-icon color="primary">add</mat-icon> {{addedLabel}}
        </ng-template>
      </mat-tab>
      <mat-tab [label]="favoriteLabel" #favoriteTab>
        <ng-template mat-tab-label>
          <mat-icon color="primary">bookmark</mat-icon> {{favoriteLabel}}
        </ng-template>
      </mat-tab>
    </mat-tab-group>

    <app-offers-filter (filtersChange)="onFiltersChange($event)"
                       (sortDirChange)="onSortDirChange($event)">

    </app-offers-filter>

    <div *ngIf="addedTab?.isActive" [routerLink]="['add']">
      <button mat-raised-button aria-label="Dodaj oferte" color="primary" fxFlex.lt-sm="100" fxFlex="25">
        <mat-icon>add</mat-icon>
        Dodaj oferte
      </button>
    </div>

    <app-categories-selector (categoryChange)="onCategoryChange($event)"></app-categories-selector>

    <app-offers-list
      [offers]="offers"
      [loading]="loading"
      (pageChange)="onPageChange($event)"
      [editEnabled]="addedTab?.isActive"
      [favEnabled]="favoriteTab?.isActive">
    </app-offers-list>

  </mat-card-content>

</mat-card>
